
<div class="container accesspoint-form">

  <h3>PagePlus Port In Form</h3>
  <br>

<form accept-charset="UTF-8" action="/page_plus_port_in_submit" method="post" role="form" class="form-horizontal">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>


  <div class="form-group">
    <div class="col-sm-12">
      <label for="email">Email*</label>
      <br>
      <span class=<%="accesspoint-warning" + if !@email_warning then " hidden" else "" end%>>
          
      </span>
      <input type="email" name='email' class="form-control" id="email" value="<%=if @params and @params[:email] then @params[:email] end%>">
      <span class="accesspoint-warning">
          This is also required
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label for="email-confirmation">Confirm Email*</label>
      <br>
      <span class=<%="accesspoint-warning" + if !@email_warning then " hidden" else "" end%>>
          
      </span>
      <input type="email" name='email_confirmation' class="form-control" id="email-confirmation" value="<%=if @params and @params[:email_confirmation] then @params[:email_confirmation] end%>">
      <span class="accesspoint-warning">
          This is also required
      </span>
    </div>
  </div>

    <div class="form-group">
    <div class="col-sm-12">

      <label>Contact Number*</label>
      <input type="text" name="contact_number" class="form-control" value="<%=if @params and @params[:contact_number] then @params[:contact_number] end%>">
      <span class="accesspoint-warning">
        <br>
        Your IMEI should start with one of the following:<br>
        ????<br>
        ????<br>
        Will be labeled: IMEI
      </span>
    </div>
  </div>

    <div class="form-group">
    <div class="col-sm-12">

      <label>Phone Number to Port*</label>
      <input type="text" name="phone_number" class="form-control" value="<%=if @params and @params[:phone_number] then @params[:phone_number] end%>">
      <span class="accesspoint-warning">
        <br>
        Your IMEI should start with one of the following:<br>
        ????<br>
        ????<br>
        Will be labeled: IMEI
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label for="name">Is your phone a 3G or 4G LTE device?*</label><br>

    <select class="form-control" name='phone_type' id="phone-type">

      <option value="1">3G Phone</option>
      <option value="2">4G LTE Phone</option>
    </select>

      <span class="accesspoint-warning">
          4G phones REQUIRE a Page Plus 4G LTE SIM card to activate<br>
          Order one <span class='accesspoint-emphasis'>HERE</span> if you don't already have one<br>
          If you already have one, enter it in the "Page Plus Cellular SIM CARD ID" box below
      </span>
    </div>
  </div>

  <div class="form-group accesspoint-4g">
    <div class="col-sm-12">

      <label>IMEI Number*</label>
      <input type="text" name="imei_number" class="form-control" value="<%=if @params and @params[:imei_number] then @params[:imei_number] end%>">
      <span class="accesspoint-warning">
        <br>
        Your ESN or MEID should start with one of the following:<br>
        ????<br>
        ????<br>
        Will be labeled: ESN, MEID, DEC, HEX, MEID HEX, ESN HEX, or MEID DEC
      </span>
    </div>
  </div>

  <div class="form-group accesspoint-4g">
    <div class="col-sm-12">

      <label>Page Plus 4G LTE "SIM ICCID Number*</label>
      <input type="text" name="iccid_number" class="form-control" value="<%=if @params and @params[:iccid_number] then @params[:iccid_number] end%>">
      <span class="accesspoint-warning">
        <br>
        Your IMEI should start with one of the following:<br>
        ????<br>
        ????<br>
        Will be labeled: IMEI
      </span>
    </div>
  </div>




  <div class="form-group accesspoint-3g">
    <div class="col-sm-12">

      <label>ESN or MEID Number*</label>
      <input type="text" name="esn_number" class="form-control" value="<%=if @params and @params[:esn_number] then  @params[:esn_number] end%>">
      <span class="accesspoint-warning">
        <br>
        Your ESN or MEID should start with one of the following:<br>
        ????<br>
        ????<br>
        Will be labeled: ESN, MEID, DEC, HEX, MEID HEX, ESN HEX, or MEID DEC
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">

      <label>Current Carrier*</label>
      <input type="text" name="current_carrier" class="form-control" value="<%=if @params and @params[:current_carrier] then  @params[:current_carrier] end%>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">

      <label>Account Number*</label>
      <input type="text" name="account_number" class="form-control" value="<%=if @params and @params[:account_number] then  @params[:account_number] end%>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">

      <label>Account Passcode*</label>
      <input type="text" name="account_passcode" class="form-control" value="<%=if @params and @params[:account_passcode] then @params[:account_passcode] end%>">
    </div>
  </div>

    <div class="form-group">
    <div class="col-sm-12">

      <label>Account Holder First Name*</label>
      <input type="text" name="first_name" class="form-control" value="<%=if @params and @params[:first_name] then @params[:first_name] end%>">
    </div>
  </div>

    <div class="form-group">
    <div class="col-sm-12">

      <label>Account Holder Last Name*</label>
      <input type="text" name="last_name" class="form-control" value="<%=if @params and @params[:last_name] then @params[:last_name] end%>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">

      <label>Billing Address*</label>
      <input type="text" name="billing_address" class="form-control" value="<%=if @params and @params[:billing_address] then  @params[:billing_address] end%>">
    </div>
  </div>

    <div class="form-group">
    <div class="col-sm-12">

      <label>Billing City*</label>
      <input type="text" name="billing_city" class="form-control" value="<%=if @params and @params[:billing_city] then  @params[:billing_city] end%>">
    </div>
  </div>

    <div class="form-group">
    <div class="col-sm-12">

      <label>Billing State*</label>
      <input type="text" name="billing_state" class="form-control" value="<%=if @params and @params[:billing_state] then @params[:billing_state] end%>">
    </div>
  </div>

    <div class="form-group">
    <div class="col-sm-12">

      <label>Billing Zip Code*</label>
      <input type="text" name="zip_code" class="form-control" value="<%=if @params and @params[:zip_code] then  @params[:zip_code] end%>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
    <label for="sel1">Select your Page Plus Monthly Service Plan*</label>
    <select class="form-control" name='payment_plan' id="sel1">

      <option value="1">$12.00 - 250 mins, 250 text, 10 mb data</option>
      <option value="2">$29.95 - 1500 mins, UNL text, 1 GB data</option>
      <option value="3">$39.95 - UNL mins, UNL text, & UNL data (1.5 GB high speed)</option>
      <option value="4">$55.00 - UNL mins UNL text, & UNL data (5 GB high speed)</option>
      <option value="5">$69.95 - UNL mins, UNL text, & UNL data (7GB high speed)</option>

    </select>
    </div>
  </div>

   <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="PagePlus Refill"
          data-locale="auto"></script>

</form>
<br>

</div>
