
<div class="container">

	<div class="row">
		<div class='col-md-4'>
		</div>

		<div class='col-md-4'>
		<div class="panel">
		  <div class="panel-heading accesspoint-theme">
		    <h3 class="panel-title accesspoint-centered"><%=t("contact")%></h3>
		  </div>
		  <div class="panel-body accesspoint-centered">

		  	
		  	<span class='accesspoint-highlight'> <%=t("street_address")%><br> <%=t("city_state_address")%> <%=t("zipcode")%></span> 
		  	<br>
		  	<br>
		  	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1762.6709490949454!2d-95.36131323388085!3d42.01213446601823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8792c248018b5e1b%3A0xbf70ff6d13199e71!2sTHE+ACCESSPOINT+WIRELESS!5e0!3m2!1sen!2sus!4v1450220955306" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

		  	<br>
		  	<br>

		  	
		  	<p>
		  		<span class='accesspoint-highlight'><%=t("word_for_email")%>: </span> <%=t("email")%>
		  	</p>
		    <p>
		    	<span class='accesspoint-highlight'><%=t("word_for_phone")%>: </span> <%=t("phone")%>
		    </p>
		    <p>
		    	<span class='accesspoint-highlight'><%=t("words_for_toll_free_number")%>: </span> <%=t("toll_free_number")%>
		    </p>


		  </div>
		</div>
		</div>

		<div class='col-md-4'>
		</div>


	</div>
</div>