
<div class="container">

	<div class="row">
		<div class='col-md-4'>
		</div>

		<div class='col-md-4'>
		<div class="panel">
		  <div class="panel-heading accesspoint-theme">
		    <h3 class="panel-title accesspoint-centered"><%=t("contact")%></h3>
		  </div>
		  <div class="panel-body accesspoint-centered">

		  	
		  	<span class='accesspoint-highlight'> <%=t("street_address")%><br> <%=t("city_state_address")%> <%=t("zipcode")%></span> 

		  	<br>
		  	<br>

		  	
		  	<p>
		  		<span class='accesspoint-highlight'><%=t("word_for_email")%>: </span> <%=t("email")%>
		  	</p>
		    <p>
		    	<span class='accesspoint-highlight'><%=t("word_for_phone")%>: </span> <%=t("phone")%>
		    </p>

		  </div>
		</div>
		</div>

		<div class='col-md-4'>
		</div>


	</div>
</div>