<!DOCTYPE html>
<html>
<head>
  <title><%=t("accesspoint").upcase%></title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />  
  <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  
</head>
<body>

	      <!-- Static navbar -->
      <nav class="navbar navbar-default">

        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand " href="/home">

              <span class="">

              	<img class="img img-responsive visible-md visible-lg" src="/assets/telephone118.svg">

                <div class="visible-xs">

                  <a class="navbar-brand accesspoint-centered" href="/home">  

                  <span><%=t("accesspoint").upcase%></span>
                  <br>
                  <span class="accesspoint-smaller"><%=t("toll_free_number")%></span>

                  </a>
                </div>

              </span>




            </a>




          </div>
          
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a class="navbar-brand  visible-md visible-lg accesspoint-centered" href="/home">  

                <span><%=t("accesspoint").upcase%></span>
                <br>
                <span class="accesspoint-smaller"><%=t("toll_free_number")%></span>

                </a>
              </li>
              <li><a href=<%=ApplicationHelper.set_link("/home",@state,@city)%>><%=t("home_root")%></a></li>
              
              <li><a href=<%=ApplicationHelper.set_link("/contact",@state,@city)%>><%=t("contact")%></a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Page Plus<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href=<%=ApplicationHelper.set_link("/page_plus_activation",@state,@city)%>><%=t("page_plus_activation_menu")%></a></li>
                  <li><a href=<%=ApplicationHelper.set_link("/page_plus_sim_card",@state,@city)%>><%=t("page_plus_sim_card_menu")%></a></li>
                  <li><a href=<%=ApplicationHelper.set_link("/page_plus_port_in",@state,@city)%>><%=t("page_plus_port_in_menu")%></a></li>
                  <li><a href=<%=ApplicationHelper.set_link("/page_plus_number_status",@state,@city)%>><%=t("page_plus_number_status_menu")%></a></li>
                  <li><a href=<%=ApplicationHelper.set_link("/page_plus_refill",@state,@city)%>><%=t("page_plus_refill_menu")%></a></li>
                </ul>
              </li>


              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Selectel Wireless<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href=<%=ApplicationHelper.set_link("/selectel_activation",@state, @city)%>><%=t("selectel_activation_menu")%></a></li>
                  <li><a href=<%=ApplicationHelper.set_link("/selectel_sim_card",@state, @city)%>><%=t("selectel_sim_card_menu")%></a></li>
                  <li><a href=<%=ApplicationHelper.set_link("/selectel_port_in",@state, @city)%>><%=t("selectel_port_in_menu")%></a></li>
                  <li><a href=<%=ApplicationHelper.set_link("/selectel_refill",@state,@city)%>><%=t("selectel_refill_menu")%></a></li>
                </ul>
              </li>

              <li><a href="/locate_state"><%=t("find_home_town")%></a></li>
              <li><a href="/change_language"><%=t("alternate_language")%></a></li>


              <% if user_signed_in? %>
                <li><a href="/photo_gallery">Photo Gallery</a></li>
                <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
                </li>
                
              <% else %>
                <li>
                <%= link_to('Admin', new_user_session_path)  %>  
                </li>
              <% end %>
              
            
            </ul>

          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

<div class="accesspoint-content">

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "alert alert-#{name}" %>
<% end -%>

<%= yield %>

  <div class="footer">
    <div class="accesspoint-centered">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
  </div>
</div>


</body>
</html>
